nav li {
    list-style-type: None
}

nav li {
    display: inline-block;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 700px;
}

nav {
    background-color: lightyellow
}