.timetable {
    width: 25%;
    margin-right: -30%;
    margin-top: 2%;
    position: relative;
    left: 10%;
}
  
.demo {
    width: 35%;
    position: relative;
    left: 60%;
    margin-top: 2%;

}
  
.arrow {
  width: 10%;
  position: relative;
  left: 10%;

}
  
.caption {
    font-size: 120%;
    position: relative; 
    left: 32%;
}
