.timetable {
    width: 500px;
    margin-top: 50px;
    margin-right: 500px;
    margin-left: 50px;
  }
  
.demo {
    width: 800px;
  }
  
.arrow {
    position: relative;
    width: 200px;
    left: 700px;
    bottom: 300px;
  }
  
.caption {
    font-size: 20px;
    position: relative; 
    left: 600px;
    bottom: 150px;
  }

.google_button{
  position: relative;
  left: 700px;
  bottom: 100px;
}

.sign_out_button{
  position: relative;
  width: 100px;
  left: 750px;
  bottom: 100px;
}